<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Register</title>
	<link rel="Website Icon" type="png" href="/images/TL_IMg.png" style="border-radius: 15px;">
	<link href="../../css/bootstrap.min.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>

<body>
	<!------nave--->
	<header id="navbar">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<a class=" navbar-brand ms-5" style="color: black; font-weight: 700; font-size: 25px;">
				TamilLoft</a>
		</nav>
		<ul class="nav justify-content-center navbootm">
			<li class="nav-item"><a class="nav-link" aria-current="page">Welcome to All</a></li>
		</ul>
	</header>
	<!--Login page contend--->
	<div class="container d-flex align-items-center justify-content-center min-vh-100 ">
		<!--Login box--->
		<div class="row border rounded-5 p-3 bg-white shadow box-area justify-content-center align-items-center ">
			<!--Login side img box--->
			<div class="col-md-9 rounded-4 d-flex align-items-center  flex-column left-box">
				<div class="featured-image mb-2 ">
					<img class="img-fluid mb-2 " src="/images/intro.png" style="width: 240px;  border-radius: 15px;">
				</div>
				<p class="text-center text-warp mb-4" style="color: black;">In this registration, we need some
					developers and a content finder. If you have web development skills and content-finding skills, now
					is your opportunity.</p>
				<div class="input-group mb-5" style="width: 100px;">
					<a href="/home/register/info"><button class="btn btn-lg btn-primary w-100 fs-6" id="Registor"
							type="submit">Register</button></a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>