<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="Website Icon" type="png" href="../../images/TL_IMg-bgrm.png" style="border-radius: 15px;">
	<link rel="stylesheet" href="../../css/stylesheet.css">
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
	<script defer src="../../js/mainscript.js"></script>
</head>

<body>
    <header id="navbar">
        <!----nave bare-->
        <nav class="navbar navbar-expand-lg ms-5 me-5">
            <p style="font-weight: 700; font-size: 25px; margin-top:0.5rem;
				margin-bottom: 0.5rem;">Tamil Loft</p>
            <div class=" lg-align-items-center ms-auto" id="menu">
                <ul class="navbar-nav mg-lg-0">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="m-5">
            <center>
                <h3>Privacy Policy</h3><br>
                <p class="mb-5">Please read this agreement carefully, as it contains important information regarding
                    your legal rights and remedies.</p>
            </center>
            <hr>
        </div>
        <!--content-->
        <div>

        </div>
    </main>
</body>

</html>