<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="/">
	<title>Tamil Loft</title>
	<link rel="Website Icon" type="png" href="../images/TL_IMg-bgrm.png" style="border-radius: 15px;">

	<link rel="stylesheet" href="css/stylesheet.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script defer src="../../js/indexScript.js"></script>
</head>

<body>
	<header id="navbar">
		<!----nave bare-->
		<nav class="navbar navbar-expand-lg ms-5 me-5">
			<p style="font-weight: 700; font-size: 25px; margin-top:0.5rem;
				margin-bottom: 0.5rem;">Tamil Loft</p>


			<button class="navbar-toggler menu_icon ms-auto me-1" type="button" data-bs-toggle="collapse"
				data-bs-target="#menu">
				<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-list"
					viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
				</svg>
			</button>

			</button>


			<div class="collapse navbar-collapse" id="menu1">
				<ul class="navbar-nav ms-auto mg-lg-0">
					<li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
					<li class="nav-item"><a class="nav-link" id="chBtn" href="/home/register/">Register</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main class="container-fluid col-10">
		<!----home---->
		<section id="home" class="homeimg">
			<div class="row mb-5 container">
				<div class=" d-lg-block d-none col-lg-6 py-lg-0  order-sm-2">
					<img src="../images/home_img.png" class="img-fluid">
				</div>

				<div class="col-lg-6 col-md-12 col-12 py-lg-0 order-1 py-3 ">
					<h1 class="display-5">Welcome To<br>
						<span>Tamil Loft</span>
					</h1>
					<div class=" d-md-block d-sm-block d-lg-none py-3 col-12 order-sm-2 ">
						<img src="../images/home_img.png" class="img-fluid">
					</div>

					<p class="my-lg-2 my-3">Welcome to our <b>TamilLoft</b> Company, where innovation meets excellence.
						As a
						pioneering force in the industry, we specialize in crafting bespoke projects, ranging from
						dynamic web libraries to cutting-edge e-commerce applications. Our commitment extends beyond
						development to the meticulous maintenance of these digital landscapes, ensuring sustained
						performance and client satisfaction. With a passion for customization, we pride ourselves on
						transforming visions into tangible, user-centric solutions. Join us on this journey of
						technology and creativity, where your ideas find a home in the digital realm.</p>
					<a href="#services"><button class="btn  btn-primary my-lg-3 my-4">Get Start</button></a>
				</div>

			</div>
		</section>
		<!-----about----->
		<section id="about" class="homeimg2">

			<div class="row container ">
				<div class="col-lg-5 d-none d-lg-block">
					<img src="images/TL_img.png" class="img-fluid" style="border-radius: 15px;">
				</div>

				<div class="col-lg-7 col-md-12 col-12 py-lg-0 py-3">
					<h6 class="display-3 ">About Us<br></h6>
					<h1><span>Tamil Loft</span></h1>
					<div class=" d-md-block d-lg-none col-md-8 col-12 mt-3 mb-3 align-items-center">
						<img src="images/TL_img.png" class="img-fluid" style="border-radius: 15px;">
					</div>
					<p class="my-lg-2 my-3">Your trusted partner in crafting bespoke solutions for a digital tomorrow.
						With a relentless commitment to excellence, we specialize in tailoring web libraries, e-commerce
						applications, and providing unparalleled maintenance services. Elevate your online presence with
						us as we transform ideas into seamless digital experiences. Explore innovation, embrace
						reliability - welcome to a future defined by your vision.</p>
					<a href="/home/about"><button class="btn btn-primary my-lg-3 my-4">Learn</button></a>
				</div>

			</div>
		</section>
		<!----Services--->
		<section id="services">


			<div
				class=" d-flex row cols-lg-6 cols-md-6 col-sm-6 col-9 my-2 g-1 ms-5 mt-5 me-5 align-items-center justify-content-center h-100 card-deck">
				<div class="col mt-5 ms-2">
					<div class=" card shadow h-100 " style="width: 15rem;">
						<img src="images/pr1.png" style="height: 200px;" class="card-img-top rounded">
						<div class="card-body">
							<h4 class="card-title fs-5" style="font-weight: 600;">WebInfo Project:</h4>
							<p class="my-lg-3 my-3 ms-2 mb-4">In This project libirary based on Information container
								development project</p>
							<b class="mb-4" style="font-weight: 700; font-size:14px;">Corrent Status: Developing...</b>
							<a href="" type="button" class="btn btn-sucess mt-4">Learn More</a>
						</div>
					</div>
				</div>
				<div class="col mt-5 ms-2">
					<div class="card shadow h-100" style="width: 15rem;">
						<img src="images/pr3.jpg" style="height: 200px;" class="card-img-top rounded">
						<div class="card-body">
							<h4 class="card-title fs-5 " style="font-weight: 600;">Data Project:</h4>
							<p class="my-lg-3 my-3 ms-2 mb-4">In This project based on Data.That used to find more use
								full information And create oppertunity.</p>
							<b class="mb-4" style="font-weight: 700; font-size:14px;">Corrent Status: Developing...</b>
							<a href="#" type="button" class="btn  btn-sucess mt-4">Learn More</a>
						</div>
					</div>
				</div>
				<div class="col mt-5 ms-2">
					<div class="card shadow h-100" style="width: 15rem;">
						<img src="images/pr2.jpg" style="height: 200px;" class="card-img-top rounded">
						<div class="card-body">
							<h4 class="card-title fs-5 " style="font-weight: 600;">Farrmi Project:</h4>
							<p class="my-lg-3 my-3 ms-2 mb-4">In This project based on E-Commerce And that was Sealce
								and service Application</p>
							<b class="mb-4" style="font-weight: 700; font-size:14px;">Corrent Status: Developing...</b>
							<a href="#" type="button" class="btn  btn-sucess mt-4">Learn More</a>
						</div>
					</div>
				</div>


			</div>
		</section>
	</main>

	<!---bottom information page-->
	<footer class="bd-footer bg-body-tertiary mt-5" id="bottom">
		<div class="row border-bottom border-black">
			<div class="col ms-5 mt-2">
				<a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="#"
					aria-label="Bootstrap">
					<img width="50vh" height="50vh" src="images/TL_img-bgrm.png"></img>
					<span class="fs-5">TamilLoft</span>
				</a>
			</div>
			<div class="col-2 border-start border-black d-flex  justify-content-center mt-2">
				<a href="#" class="nav-link align-items-center py-2 fs-6 ">Back to Top</a>
			</div>
		</div>

		<div class="row border pt-3 fs">
			<div class="col-3 px-5 ">
				<p><a style="font-size: 12px;">© 2024 Tamil Loft</a></p>
			</div>
			<div class="col ">

				<ul class=" d-flex justify-content-center list-unstyled">
					<li class=" pe-4">
						<a style="font-size: 12px; font-weight: bold; color: black;" class="text-decoration-none"
							href="legal/termsofservice">Terms Of Service</a>
					</li>
					<li class="fst-italic pe-4">
						<a style="font-size: 12px; font-weight: bold; color: black;" class="text-decoration-none"
							href="legal/privacypolicy">Privacy Policy</a>
					</li>
					<li class="fst-italic pe-4">
						<a style="font-size: 12px; font-weight: bold; color: black;" class="text-decoration-none"
							href="#">Cookie Settings</a>
					</li>
				</ul>

			</div>
			<div class="col-3 px-5 ">
				<p><a> </a></p>
			</div>
		</div>
	</footer>
</body>

</html>